{% extends "base.html" %}

{% block main %}
<div class="head">
	<img src="" id="me">
	<h1>Zavier Rattray</h1>	
	<a href="">@brogaad</a>
	<p>Mandeville, Manchester</p>
	<p>{{time}}</p>
</div>

<div class="content">
	<p>I am an aspiring developer with a keen interest in PHP and SQL. I guess you would say backend. Contact me if you you'd like to work together on a new project.</p>
	<div class="counter">
		<table>
			<tr>
				<th>7</th>
				<th>100</th>
				<th>250</th>
			</tr>
			<tr>
				<td>Posts</td>
				<td>Following</td>
				<td>Followers</td>
			</tr>
		</table>
		<button>Follow</button>
	</div>
</div>

{% endblock %}